body {
  background-color: #CCC49F;
  color: white;
  padding: 10px;
}

#main {
  background-color: white;
  color: black;
  margin-top: 50px;
}

h2 {
  color: #337AB7;
  text-align: center;;
}

p {
  text-indent: 20px;
}

/*div {
  border-color : red;
  border-width: 3px;
  border-style: solid;
}
*/
.outer {
  padding: 5px;
  background-color: red;

}

#logo{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
