body {
  background-color: #CCC49F; /* rgba(64, 0, 0, 0.78); #400000; */
  color: #400000;
  padding: 10px;
}

#main, #civic, #solicitation {
  background-color: white;
  color: black;
  margin-top: 40px;
  border-style: solid;
  border-color: #400000;
  font-size: 18px;
  padding-bottom: 8px;
}

#welcome {
  font-size: 20px;
}

.watch, .eventBox {
  background-color: white;
  color: black;
  margin-top: 40px;
  border-style: solid;
  border-color: #400000;
  font-size: 18px;
  padding-bottom: 4px;
}

h2, h4 {
  color: #400000;  /*#EF642C */
  text-align: center;;
}

h3 {
  color: #400000;
  text-align: left;
}

p {
  text-indent: 20px;
}

table
{
margin-left: auto;
margin-right: auto;
}

/*div {
  border-color : red;
  border-width: 3px;
  border-style: solid;
}
*/
a, a:active, a:hover{
  color: #EF642C;
  background-color: white;
  text-decoration: none;
}

a:visited {
  color: #400000;
  text-decoration: underline;
}

#logo{
  border-width: 2px;
  border-style: solid;
  border-color: #400000;
}

div {
 /* border-style: solid;
  border-color: red;
  border-width: 3px; */
}

.img_box {
  margin-top: 50px;
  padding: 10px;
  background-color: white;
  width: 90%;
}

.img_body {
  background-color: transparent;
  padding: 0;
}

.photo_frame {
  margin-top: 50px;
  border-style: solid;
  border-color: #400;
  background-color: transparent;
  border-width: 4px;
}

.caption {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
    font-size: 18px;
}

.social_icon {
  padding: 10px;
  background-color: white;
}

.quote, .sidebar {
  font-style: italic;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 75px;
  color: #400000;

}
