body {
  background-color: #CCC49F; /* rgba(64, 0, 0, 0.78); #400000; */
  color: #400000;
  padding: 10px;
}

#main, #civic {
  background-color: white;
  color: black;
  margin-top: 40px;
  border-style: solid;
  border-color: #400000;
}

h2 {
  color: #400000;  /*#EF642C */
  text-align: center;;
}

p {
  text-indent: 20px;
}

/*div {
  border-color : red;
  border-width: 3px;
  border-style: solid;
}
*/
a, a:active, a:hover{
  color: #EF642C;
  background-color: white;

}

#logo{
  border-width: 2px;
  border-style: solid;
  border-color: #400000;
}

div {
 /* border-style: solid;
  border-color: red;
  border-width: 3px; */
}

.img_box {
  margin-top: 50px;
  padding: 10px;
  background-color: white;

}

.quote, .sidebar {
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 75px;
  color: #400000;
}
