.navbar-custom, .navbar-fixed-top, .navbar-fixed-top ul li a {
  background-color: #400000;
  color: #EF642C;
  width: 100%;
  font-size: 20px;
}



.navbar-custom, .navbar-fixed-top, .active, ul li a:active, a:hover {
  font-size: .75em;
  border-color: #EF642C;
  background-color: white;
  color: #EF642C;
}

.navbar-brand{
  font-size: 1.75em;
  color: #EF642C;
}

.navbar-custom {
  color: #EF642C;
}
/*.active li{
  background-color: white;
  color: #EF642C;
}
*/
.navbar-custom {
    color: #FFFFFF;
    background-color: #400000;
}

.navbar-custom .dropdown-menu a {
  background-color: white;
}

.sidebar a {
  text-decoration: underline;
  background-color: transparent;
  color: #400000;
}

.img_body {
  background-color: transparent;
  padding: 0;

}

footer {
  text-align: center;
  background-color: white;
  color: #EF642C;
  width: 100%;
  font-size: 18px; /*.80em; */
  border-color: #400000;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 15px;

}

footer a:visited {
  color: #400000;
}


/*

.sidebar2 a, a:active, a:hover{
  font-style: italic;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 15px;
  color: #EF642C;
  background-color: transparent;
} */

