.navbar-default, .navbar-fixed-top, .navbar-fixed-top ul li a {
  background-color: white;
  color: #8C9EFF;
  width: 100%;
  font-size: .75em;
}

.navbar-default, .navbar-fixed-top ul li a:active, a:hover {
  font-size: .75em;
  border-color: #8C9EFF;
}

.navbar-brand{
  font-size: .95em;
}
