@media screen and (min-width: 411px){

  /********************************
GENERAL
*********************************/
body, {
   font-size: 16px;

}


/*  h1 {
    font-size: 1.75em;
  }

   h3 {
    font-size: 0.725em;
  }*/


@media screen and (min-width: 660px) {

.img_box {
  height: 200px;
  width: 300px;
}

}
/*
@media (min-width: ) {
  body {
   color: red;
    border-style: solid;
    border-width: 5px;
    border-color: red;
 }
*/

@media (min-width: 768px) and (max-width: 1000px) {
   .navbar .navbar-custom .navbar-fixed-top {
       background-color: red;
   }

.img_box {
  height: 200px;
  width: 300px;
}

    }
/*
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {

    }
    .navbar-custom {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        background-color: red;
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

  }
  */
}
