<!DOCTYPE html>
<htmL>
  <head>
  <link rel='stylesheet' type='text/css' href='../css/main.css'>
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">
  <link rel="stylesheet" type="text/css" href="../css/nav.css">
  </head>
  <body>

    <div class="container-fluid"><!--Main Div-->

      <div class='row'>
        <div class='col-md-2'></div>
        <div class="col-md-8">

          <h1>Welcome to CAHNA</h1>

        </div>
      </div>
    </div><!--end main -->
  </body>
</htmL>

